{{ include('header.twig') }}

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Telefoon Service</h4>
          <p class="left-align light">Bel naar <a href="tel:003197010241287">097010241287</a>.<br>
            Voer het haltenummer in van je halte.<br>
          De computer geeft automatisch de vertrektijden van de aankomende bussen door.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Haltenummers opzoeken</h4>
          <p class="center-align light">Binnenkort.</p>
          <p class="center-align light">In de tussentijd kan je gebruik maken van de <a href="http://www.govi.nu/haltedata/" target="blank">website</a> van GUVI.</p>
          <div class="center">
            <a class="waves-effect waves-light btn" href="http://www.govi.nu/haltedata/" target="blank">Ga naar de site</a>
          </div>
          <iframe src="http://www.govi.nu/haltedata/" height="500" width="100%"></iframe>
        </div>
      </div>

    </div>
  </div>

{{ include('footer.twig') }}
